<div class="well text-center">
    <h2><b><i class="fa fa-list text-success" aria-hidden="true"></i> <span class="text-success">TASK</span>
            <i>Manager</i></b></h2>
    <p>Keep your work up to date.</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-right">
            <br>
            <button class="btn btn-primary btn-sm" ng-if="!addTask" ng-click="addTaskClick(true)"><i class="fa fa-plus"
                    aria-hidden="true">
                </i> Add New
                Task</button>
            <button class="btn btn-danger btn-sm" ng-if="addTask" ng-click="addTaskClick(false)"><i class="fa fa-minus"
                    aria-hidden="true">
                </i> Close</button>
            <br>
        </div>
        <div class="col-sm-12 animate__animated animate__backInDown" ng-if="addTask">
            <div class="card">
                <div class="card-body">
                    <form class="form-group">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Task Title : </label>
                                <input type="hidden" ng-model="task.id">
                                <input type="text" class="form-control" ng-model="task.title">
                            </div>
                            <div class="col-sm-6">
                                <label>Task Status : </label>
                                <select class="form-control" ng-model="task.status">
                                    <option value="assigned">Assigned</option>
                                    <option value="pending">Pending</option>
                                    <option value="running">Running</option>
                                    <option value="complete">Complete</option>
                                    <option value="incomplete">Incomplete</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col">
                                <label>Task Description : </label>
                                <textarea class="form-control" ng-model="task.description"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col text-right">
                                <button class="btn btn-danger btn-sm" ng-click="reset()"><i class="fa fa-eraser"
                                        aria-hidden="true"></i> Clear</button>
                                <button ng-show="addBtn" class="btn btn-primary btn-sm"
                                    ng-click="addUpdateTask(task)"><i class="fa fa-plus-square" aria-hidden="true"></i>
                                    Add Task</button>
                                <button ng-show="!addBtn" class="btn btn-success btn-sm"
                                    ng-click="addUpdateTask(task)"><i class="fa fa-pencil-square-o"
                                        aria-hidden="true"></i> Update Task</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <div class="col-sm-12 animate__animated animate__backInDown" ng-init="getTasks()" ng-if="!addTask">
            <div class="row">
                <div class="col-sm-12" ng-if="tasks.length > 0" ng-repeat="task in tasks">
                    <div class="card">

                        <div class="card-body">

                            <div class=" pull-right">
                                <button class="btn btn-success btn-sm" ng-click="action(task,'complete')"><i
                                        class="fa fa-check-circle-o" aria-hidden="true"></i></button>

                                <button class="btn btn-primary btn-sm" ng-click="editTask(task)"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                                <button class="btn btn-danger btn-sm" ng-click="action(task,'delete')"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>

                            <b>{{ task.title }}</b>
                            <small>( {{ task.status | capitalize}} )</small>
                            <p>{{ task.description }}</p>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-sm-12 text-center" ng-if="tasks.length == 0">
                    <b>No record found</b>
                </div>
            </div>
        </div>
    </div>
</div>